[backend]
thyart.staging.backend ansible_ssh_host=${staging_backend_ip}  ansible_user=root
thyart.production.backend ansible_ssh_host=${production_backend_ip}  ansible_user=root
[frontend]
thyart.staging.frontend ansible_ssh_host=${staging_frontend_ip}  ansible_user=root
thyart.production.frontend ansible_ssh_host=${production_frontend_ip}  ansible_user=root
[mysql]
thyart.staging.mysql ansible_ssh_host=${staging_mysql_ip}  ansible_user=root
thyart.production.mysql ansible_ssh_host=${production_mysql_ip}  ansible_user=root